<div class="header">
  <div class="logo">
    <a href="/">
      <p class="logotype">
        DACD
      </p>
    </a>
  </div>
  <div class="social">
    <a href="github.com/dwrp" target="_blank">
      <img src="https://raw.githubusercontent.com/DWRP/dwrp.github.io/homepage/web/src/assets/images/GIT.png" alt="Github">
    </a>
    <a href="linkedin.com/in/douglaswalas" target="_blank">
      <img src="https://raw.githubusercontent.com/DWRP/dwrp.github.io/homepage/web/src/assets/images/IN.png" alt="linkedin">
    </a>
  </div>
</div>
